<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <span class="navbar-brand" href="#">{{config.default.APP_NAME}}</span>
    <button (click)="expandMenu()" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': hamburger }">
        <ul class="navbar-nav mr-auto">
            <li (click)="nav(pages.DASHBOARD)" class="nav-item" [ngClass]="{ 'active': getPage(pages.DASHBOARD) }">
                <button class="nav-link btn btn-link">Dashboard</button>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li (click)="nav(pages.LOGIN)" class="nav-item" [ngClass]="{ 'active': getPage(pages.LOGIN) }">
                <button class="nav-link btn btn-link">Login</button>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li (click)="nav(pages.SIGNUP)" class="nav-item" [ngClass]="{ 'active': getPage(pages.SIGNUP) }">
                <button class="nav-link btn btn-link">Register</button>
            </li>
        </ul>
    </div>
</nav>
