<table class="table" infiniteScroll (scrolled)="onScroll()">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col" class="text-right">Admin</th>
            <th scope="col" class="text-right">Keymaster</th>
            <th scope="col" class="text-right">Member</th>
            <th scope="col" class="text-right">Onboarding</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td class="text-right"><input type="checkbox" [(ngModel)]="user.access.ADMIN" (change)="changeRole(user.username, user.access.ADMIN)" /></td>
            <td class="text-right"><input type="checkbox" [(ngModel)]="user.access.KEYMASTER" (change)="changeRole(user.username, user.access.KEYMASTER)" /></td>
            <td class="text-right"><input type="checkbox" [(ngModel)]="user.access.MEMBER" (change)="changeRole(user.username, user.access.MEMBER)" /></td>
            <td class="text-right"><input type="checkbox" [(ngModel)]="user.access.ONBOARDING" (change)="changeRole(user.username, user.access.ONBOARDING)" /></td>
        </tr>
    </tbody>
</table>
<div *ngIf="loading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
