<table class="table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col" class="text-right">Admin</th>
            <th scope="col" class="text-right">Keymaster</th>
            <th scope="col" class="text-right">Member</th>
            <th scope="col" class="text-right">Onboarding</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="adminUserService.searchResults.length">
            <td colspan="4"><em>{{adminUserService.searchResults.length}} result<span *ngIf="adminUserService.searchResults.length > 1">s</span> found for &quot;{{adminUserService.searchForm.get('key').value}}&quot;</em></td>
        </tr>
        <tr *ngFor="let user of adminUserService.searchResults">
            <td>
                {{ user.username }}
                <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <button (click)="editUser(user.userId)" class="btn btn-light">
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
            </td>
            <td class="text-right"><input type="checkbox" [(ngModel)]="user.access.ADMIN" (change)="changeRole(user.username, user.access.ADMIN)" /></td>
            <td class="text-right"><input type="checkbox" [(ngModel)]="user.access.KEYMASTER" (change)="changeRole(user.username, user.access.KEYMASTER)" /></td>
            <td class="text-right"><input type="checkbox" [(ngModel)]="user.access.MEMBER" (change)="changeRole(user.username, user.access.MEMBER)" /></td>
            <td class="text-right"><input type="checkbox" [(ngModel)]="user.access.ONBOARDING" (change)="changeRole(user.username, user.access.ONBOARDING)" /></td>
        </tr>
        <tr *ngIf="!adminUserService.searchResults.length">
            <td colspan="4"><em>No results found for &quot;{{adminUserService.searchForm.get('key').value}}&quot;</em></td>
        </tr>
    </tbody>
</table>
<div *ngIf="adminUserService.searchLoading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<button class="btn btn-light" (click)="clear()">Clear Search Results</button>
